<h1>Hello Rails! again and again... again and again</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'TextCleaner test', controller: 'text_cleaners' %>
<%= link_to 'Word test', controller: 'words' %>
